<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="home">
            <img src="/assets/avatar.png" alt="" width="48">
        </a>

        <nav>
            <a href="/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2D9CDB" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg></a>
            <a href="/sobre"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2D9CDB" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/></svg></a>
            <a href="/notes"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#2D9CDB" width="24px" height="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"/></svg></a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>O conteúdo deste site foi criado por <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://edufernandes.com/sobre/">Eduardo Fernandes</a> e está licenciado como <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0">CC BY-NC 4.0</a></p></small>
    </footer>
</body>
</html>