<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="home">
            <img src="/assets/avatar.png" alt="" width="48">
        </a>

        <nav>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <!-- <a href="/notes">Notas</a> -->
            <a href="/apoie">Apoie</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>O conteúdo deste site foi criado por <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://edufernandes.com/sobre/">Eduardo Fernandes</a> e está licenciado como <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0">CC BY-NC 4.0</a></p></small>
    </footer>
</body>
</html>