<hr>
<p class="backlinks-title larger"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#666666" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg> Backlinks</p>
{% if backlinks.length > 0%}
<ul class="backlinks-container">
    {% for link in backlinks %}
        <li class="backlink">
            <a href="{{link.url}}" class="backlink__link">{{link.title}}</a>
            <div class="backlink__preview" role="img">
                {{link.preview | markdownify | truncate: 240}}
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<p class="backlinks-default">No backlinks found.</p>
{% endif %}